@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600;700&family=Raleway:wght@300;500;700;800&display=swap');

@import "animaciones.css";

:root{

	--crimson: 'Crimson Text', serif;
	--raleway: 'Raleway', sans-serif;

	--light-green: #A6C4B1;
	--dark-green: #486F57;
	--green: #558869;
	--w-green: #D5FDE5;
	--white: #fff;
	--black: #000;
	--shadow: rgba(0, 0, 0, .3);
	
}

::selection{
	background: var(--shadow);
	color: var(--white);
}

::after, ::before{
	box-sizing: border-box;
}

#catalogo{
	padding: 2em 2em 6em 2em;
}

.catalogo_title{
	font-size: 3em;
	font-family: var(--raleway);
	color: var(--dark-green);
	padding: 1em 0 0 2em;
	margin-bottom: 1.2em;
	animation: aparecer_izq .4s ease-in;
}

.div_catalogo{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 2em;
	animation: aparecer_der .4s ease-in;
}

a:has(.card){
	text-decoration: none;
	color: unset;
	display: inline-block;
}

.card{
	width: 15em;
	color: var(--white);
	border-radius: 1em;
	transform: rotate(0deg);
	transition: .4s;
	display: inline-block;
}

.card:hover{
	transform: rotate(1deg);
}

.card_main{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.card_image{
	display: inline;
	width: 15em;
	height: 18em;
	object-fit: cover;
	transition: .4s;
}

.card_pop_up{
	position: absolute;
	height: 1.7em;
	bottom: 0;
	transform: translateY(2.7em);
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: var(--white);
	background: rgba(0, 0, 0, .8);
	width: 100%;
	padding: 0.4em 0;
	font-family: var(--raleway);
	transition: .3s;
}	


.card_main:hover > .card_pop_up{
	transform: translateY(.05em);
}

.card_info{
	background: var(--green);
	padding: 1em 2em 1em 2em;
}

.card_category{
	font-family: var(--crimson);
}

.card_title{
	line-height: 1em;
	padding: .4em 0;
	font-family: var(--raleway);
}

.card_autor{
	font-family: var(--crimson);
}

.card_price{
	padding: .5em 0;
	font-family: var(--raleway);
}